section {
	font-family: "Times New Roman", Times, serif;
	font-size: 12pt;
	width: 48em;
}

/* Headings 1-3 are probably meaningful and use sans-serif font
 * to differentiate it from the serif body. Heading 6 is basically
 * a way to bold text. */
h1, h2, h3, h4, h5 {
	font-family: sans-serif;
}
h1 { font-size: 18pt; margin-top: 0.25em; margin-bottom: 1.75em; padding: 0;}
h2 { font-size: 14pt; }
h6 { font-size: 12pt; margin-top: 1em; margin-bottom: 0.5em; }

p {
	text-indent: 4em;
}

p.chapter-first {
  text-indent: 0;
  font-style: italic;
}

p.chapter-first::first-letter {
  font-size: 18pt;
  font-style: bold;
}

p.chapter-second { font-style: italic; }

p.section-first {
	text-indent: 0;
}

hr {
	margin-bottom: 0;
	padding-bottom: 0;
}

hr.thought-divider {
	margin-left: 12em;
	margin-right: 12em;
}

p.blockquote {
  text-indent: 0;
  margin-left: 4em;
  margin-right: 4em;
}

a.blockquote-citation {
  display: block;
  margin-top: 0.5em;
  margin-left: 20em;
}

span.spanquote {
  font-style: italic;
}
